<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="layout" value="[${environment:PROCESSOR_ARCHITECTURE}-${environment:OS}] ${longdate} | ${level:uppercase=true} > ${message:exceptionSeparator=\r\n:withException=true}"/>
	<targets>
		<!-- <target name="logfile" xsi:type="File" fileName="file.txt" /> -->
		<target name="MasterScrapeLogs" xsi:type="File" enableAnsiOutput="true" layout="${var:layout}" internalLogToConsole="true" fileName="${CurrentDir}/Logs/ScrapeLogs.log" deleteOldFileOnStartup="true"/>
		<target name="RightStufAnimeLogs" xsi:type="File" enableAnsiOutput="true" layout="${var:layout}" internalLogToConsole="true" fileName="${CurrentDir}/Logs/RightStufAnimeLogs.log" deleteOldFileOnStartup="true"/>
		<target name="RobertsAnimeCornerStoreLogs" xsi:type="File" enableAnsiOutput="true" layout="${var:layout}" internalLogToConsole="true" fileName="${CurrentDir}/Logs/RobertsAnimeCornerStoreLogs.log" deleteOldFileOnStartup="true"/>
		<target name="InStockTradesLogs" xsi:type="File" enableAnsiOutput="true" layout="${var:layout}" internalLogToConsole="true" fileName="${CurrentDir}/Logs/InStockTradesLogs.log" deleteOldFileOnStartup="true"/>
		<target name="KinokuniyaUSALogs" xsi:type="File" enableAnsiOutput="true" layout="${var:layout}" internalLogToConsole="true" fileName="${CurrentDir}/Logs/KinokuniyaUSALogs.log" deleteOldFileOnStartup="true"/>
		<target name="BarnesAndNobleLogs" xsi:type="File" enableAnsiOutput="true" layout="${var:layout}" internalLogToConsole="true" fileName="${CurrentDir}/Logs/BarnesAndNobleLogs.log" deleteOldFileOnStartup="true"/>
		<target name="BooksAMillionLogs" xsi:type="File" enableAnsiOutput="true" layout="${var:layout}" internalLogToConsole="true" fileName="${CurrentDir}/Logs/BooksAMillionLogs.log" deleteOldFileOnStartup="true"/>
		<target name="AmazonUSALogs" xsi:type="File" enableAnsiOutput="true" layout="${var:layout}" internalLogToConsole="true" fileName="${CurrentDir}/Logs/AmazonUSALogs.log" deleteOldFileOnStartup="true"/>
		<target name="IndigoLogs" xsi:type="File" enableAnsiOutput="true" layout="${var:layout}" internalLogToConsole="true" fileName="${CurrentDir}/Logs/IndigoLogs.log" deleteOldFileOnStartup="true"/>
	</targets>

	<rules>
		<logger name="MasterScrapeLogs" maxlevel="Fatal" writeTo="MasterScrapeLogs" />
		<logger name="RightStufAnimeLogs" maxlevel="Fatal" writeTo="RightStufAnimeLogs" />
		<logger name="RobertsAnimeCornerStoreLogs" maxlevel="Fatal" writeTo="RobertsAnimeCornerStoreLogs" />
		<logger name="InStockTradesLogs" maxlevel="Fatal" writeTo="InStockTradesLogs" />
		<logger name="KinokuniyaUSALogs" maxlevel="Fatal" writeTo="KinokuniyaUSALogs" />
		<logger name="BarnesAndNobleLogs" maxlevel="Fatal" writeTo="BarnesAndNobleLogs" />
		<logger name="BooksAMillionLogs" maxlevel="Fatal" writeTo="BooksAMillionLogs" />
		<logger name="AmazonUSALogs" maxlevel="Fatal" writeTo="AmazonUSALogs" />
		<logger name="IndigoLogs" maxlevel="Fatal" writeTo="IndigoLogs" />
	</rules>
</nlog>
