<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Off">
    <variable name="layout" 
              value="[${environment:PROCESSOR_ARCHITECTURE}-${environment:OS}] ${longdate} | ${level:uppercase=true} > ${message:exceptionSeparator=\r\n:withException=true}" />
    <targets>
        <!-- Define the file target, but use a dynamic fileName based on the logger name -->
        <target name="File" xsi:type="File" enableAnsiOutput="true" layout="${var:layout}" internalLogToConsole="false" deleteOldFileOnStartup="true" 
                fileName="${CurrentDir}/Logs/${logger:shortName=true}_Logs.log" />
    </targets>

    <rules>
        <!-- Define rules for logging by logger name -->
        <logger name="*" minLevel="Debug" writeTo="File" />
    </rules>
</nlog>
